all:    
  vars:
    # ghcr.io/fedimix/mastodon:v4.1.2
    artifact_repository: ghcr.io

    # container images
    base_image: fedimix/mastodon
    base_image_version: stable
    
    router_image: txsvc-hq/txsvc-hq/router
    router_image_version: 0.2.2

    redis_image: docker.io/library/redis
    redis_image_version: 7-alpine

    postgres_image: docker.io/library/postgres
    postgres_image_version: 14-alpine