all:    
  vars:
    # data and config locations
    config_root: /opt/config
    data_root: /opt/data
    
    # storage_root is also the volue mount point
    storage_root: /opt/data/storage

    # user and service owner
    svc_user: mastodon
    svc_user_uid: 1001

    # ansible configuration
    ansible_user: root
    ansible_ssh_private_key_file: ~/.ssh/id_rsa

