all:
  hosts:
    example.com:
      # data and config locations
      data_root: /opt/data/storage
      config_root: /opt/config
      
      # top-level domain
      tld: mstdn.example.com

  vars:
    # user and service owner
    svc_user: txsvc
    svc_user_uid: 1001
    
    # ansible configuration
    ansible_user: root
    ansible_ssh_private_key_file: ~/.ssh/id_rsa

    # google cloud artifact registry host
    artifact_repository: europe-west3-docker.pkg.dev

    # lets encrypt
    lets_encrypt_mail: 'hello@example.com'

    # podman
    container_util: podman
    pod_namespace: mstdn

    # container images
    base_image: txsvc-hq/txsvc-hq/mastodon
    base_image_version: latest
    
    router_image: txsvc-hq/txsvc-hq/router
    router_image_version: 0.1.0

    redis_image: docker.io/library/redis
    redis_image_version: 7-alpine

    postgres_image: docker.io/library/postgres
    postgres_image_version: 14-alpine